html {
  height: 100vh;
}
body {
  height: 100vh;
  background: linear-gradient(90deg, white 50%, blue 50%);
}
main {
  height: 90vh;
}
.nav-link {
  color: rgb(5, 5, 46) !important;
}
.carousel {
  height: 90vh;
}
.carousel-inner {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}
.carousel-caption {
  top: 50%;
}

@media (max-width: 767px) {
  .carousel-item img {
    width: 100% !important;
  }
}
/* sm */
@media (min-width: 769px) and (max-width: 991px) {
  .carousel-item img {
    width: 75% !important;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1200px) {
  .carousel-item img {
    width: 50% !important;
  }
}
/* lg */
@media (min-width: 1201px) {
  .carousel-item img {
    width: 25% !important;
  }
}
